{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
 table{ border-collapse : collapse; max-width: 600px; }  /*이중선 제거*/
 th,td{
      width: 100px;

      height: 50px;
      text-align: center;
      border: 1px solid #000;

      vertical-align: top;	/* 위 */
      vertical-align: bottom;   /* 아래 */
      vertical-align: middle;   /* 가운데 */
    }
  </style>
</head>
<body>

<div style="padding: 5%; width: 100%">
<!--        <div>-->
<!--            {{ texts }}-->
<!--            {% if trans %}-->
<!--                {{ trans }}-->
<!--            {% else %}-->
<!--                <p colspan="3">번역된 단어가 없습니다.</p>-->
<!--            {% endif %}-->
<!--        </div>-->
    <div style="margin-bottom:15%;">
        <a href="{% url 'pybo:shuffle' %}" style="width: 100%" class="btn btn-primary float-right">단어섞기</a>
    </div>
    <table border="1px">
        <thead>
            <tr>
                <th style="col-1">번호</th>
                <th style="width: 45%">일본어</th>
                <th style="width: 45%">한국어</th>
            </tr>
        </thead>
        <tbody>
            {% if combined_list %}
            {% for text, translation in combined_list %}
            <tr>
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    {{text}}
                </td>
                <td>
                    {{ translation }}
                </td>
            </tr>
        </tbody>
        {% endfor %}
        {% endif %}
    </table>
</body>
</html>

{% endblock %}