{% extends 'base.html' %}
{% block content %}
<head>
    <div class="font">
        <a onclick="history.back()" class="btn text-primary font" style="position: fixed; top: 61px; left: 12px; text-style: bold; width: 40px; height: 40px; line-height: 40px;">
                <h2><</h2>
        </a>
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>단어 시험</title>
    <style>
        body {
            font-family: 'Gowun Dodum', sans-serif;
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #333;
        }

        #question {
            font-size: 20px;
            margin-bottom: 20px;
        }

        #correct {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .option {
            display: inline-block;
            padding: 10px;
            margin: 10px;
            color: #fff;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            width: 105px;
            height: 105px;
        }
    </style>
</head>
<body>
    {% if vocaList %}
        <h1>단어 시험</h1>

        <div id="question">
            <p>다음 중 단어의 뜻으로 올바른 것은?</p>
            <strong>Word:</strong> <span id="word">Example</span>
        </div>

        <div class="container text-center" style="width: 100%;">
            <div class="row">
                <div class="col" style="width: 50%">
                    <button id="answerBtnA" class="option btn-primary" onclick="checkAnswer('answerBtnA')">옵션 A</button>
                </div>
                <div class="col" style="width: 50%">
                    <button id="answerBtnB" class="option btn-primary" onclick="checkAnswer('answerBtnB')">옵션 B</button>
                </div>
            </div>
            <div class="row"> <!--dfa0-->
                <div class="col" style="width: 50%">
                    <button id="answerBtnC" class="option btn-primary" onclick="checkAnswer('answerBtnC')">옵션 C</button>
                </div>
                <div class="col" style="width: 50%">
                    <button id="answerBtnD" class="option btn-primary" onclick="checkAnswer('answerBtnD')">옵션 D</button>
                </div>
            </div>
        </div>

        <div>
            <strong id="correct"></strong>
        </div>
        <div>
            <strong id="incorrect"></strong>
        </div>

<!--        <a class="option" href="{% url 'pybo:index' %}">Home.</a>-->

        <script>
            var vocaList = [];
            var randomPosition = [];
            var randAnswer = [];
            var questionCount = 1;
            var correctCount = 0;
            var incorrectedList = [];


            {% for i in vocaList %}
                vocaList.push({'{{ i.voca_japan }}' : '{{ i.voca_korea }}'});
            {% endfor %}

            {% for i in randomPosition %}
                var temp = [];
                {% for j in i %}
                    temp.push({{ j }});
                {% endfor %}
                randomPosition.push(temp);
            {% endfor %}

            {% for i in randAnswer %}
                var temp = [];
                {% for j in i %}
                    temp.push('{{ j }}');
                {% endfor %}
                randAnswer.push(temp);
            {% endfor %}

            console.log(vocaList);
            console.log(randomPosition);
            console.log(randAnswer);
            document.getElementById('word').innerHTML = Object.keys(vocaList[questionCount-1]);
            document.getElementById('answerBtnA').innerHTML = randAnswer[questionCount-1][randomPosition[questionCount-1][0]];
            document.getElementById('answerBtnB').innerHTML = randAnswer[questionCount-1][randomPosition[questionCount-1][1]];
            document.getElementById('answerBtnC').innerHTML = randAnswer[questionCount-1][randomPosition[questionCount-1][2]];
            document.getElementById('answerBtnD').innerHTML = randAnswer[questionCount-1][randomPosition[questionCount-1][3]];
            async function checkAnswer(selectedOption) {
                if(vocaList[questionCount-1][document.getElementById('word').innerHTML] == document.getElementById(selectedOption).innerHTML){
                    if(questionCount != vocaList.length){
                        correctCount++;
                        questionCount++;
                        await correct(selectedOption);
                        document.getElementById('word').innerHTML = Object.keys(vocaList[questionCount-1]);
                        document.getElementById('answerBtnA').innerHTML = randAnswer[questionCount-1][randomPosition[questionCount-1][0]];
                        document.getElementById('answerBtnB').innerHTML = randAnswer[questionCount-1][randomPosition[questionCount-1][1]];
                        document.getElementById('answerBtnC').innerHTML = randAnswer[questionCount-1][randomPosition[questionCount-1][2]];
                        document.getElementById('answerBtnD').innerHTML = randAnswer[questionCount-1][randomPosition[questionCount-1][3]];
                    }else{
                        await correct(selectedOption);
                        document.getElementById('answerBtnA').disabled = true;
                        document.getElementById('answerBtnB').disabled = true;
                        document.getElementById('answerBtnC').disabled = true;
                        document.getElementById('answerBtnD').disabled = true;
                        document.getElementById('correct').innerHTML = '점수' + (correctCount+1) + '/' + questionCount;
                        document.getElementById('incorrect').innerHTML = '오답: ' + (incorrectedList);
                    }
                }else{
                    if(questionCount != vocaList.length){
		                incorrectedList.push(JSON.stringify(vocaList[questionCount - 1]));
                        questionCount++;
                        await incorrect(selectedOption);
                        document.getElementById('word').innerHTML = Object.keys(vocaList[questionCount-1]);
                        console.log(vocaList[questionCount-1]);
                        console.log(incorrectedList);
                        document.getElementById('answerBtnA').innerHTML = randAnswer[questionCount-1][randomPosition[questionCount-1][0]];
                        document.getElementById('answerBtnB').innerHTML = randAnswer[questionCount-1][randomPosition[questionCount-1][1]];
                        document.getElementById('answerBtnC').innerHTML = randAnswer[questionCount-1][randomPosition[questionCount-1][2]];
                        document.getElementById('answerBtnD').innerHTML = randAnswer[questionCount-1][randomPosition[questionCount-1][3]];
                    }else{
                        incorrectedList.push(JSON.stringify(vocaList[questionCount - 1]));
                        await incorrect(selectedOption);
                        document.getElementById('answerBtnA').disabled = true;
                        document.getElementById('answerBtnB').disabled = true;
                        document.getElementById('answerBtnC').disabled = true;
                        document.getElementById('answerBtnD').disabled = true;
                        document.getElementById('correct').innerHTML = '점수' + correctCount + '/' + questionCount;
                        document.getElementById('incorrect').innerHTML = '오답: ' + (incorrectedList);
                    }
                }
            }


            async function incorrect(selectedOption) {
                var button = document.getElementById(selectedOption);

                // 변경할 색
                var newColor = '#e74c3c'; // 빨간색

                // 기존 색상 저장
                var originalColor = button.style.backgroundColor;

                // 버튼 색 변경
                button.style.backgroundColor = newColor;

                document.getElementById('answerBtnA').disabled = true;
                document.getElementById('answerBtnB').disabled = true;
                document.getElementById('answerBtnC').disabled = true;
                document.getElementById('answerBtnD').disabled = true;

                // 일정 시간 기다림
                await delay(750);

                document.getElementById('answerBtnA').disabled = false;
                document.getElementById('answerBtnB').disabled = false;
                document.getElementById('answerBtnC').disabled = false;
                document.getElementById('answerBtnD').disabled = false;

                // 원래 색으로 돌아오기
                button.style.backgroundColor = originalColor;
            }
            async function correct(selectedOption) {
                var button = document.getElementById(selectedOption);

                // 변경할 색
                var newColor = '#4CAF50'; // 녹색

                // 기존 색상 저장
                var originalColor = button.style.backgroundColor;

                // 버튼 색 변경
                button.style.backgroundColor = newColor;

                document.getElementById('answerBtnA').disabled = true;
                document.getElementById('answerBtnB').disabled = true;
                document.getElementById('answerBtnC').disabled = true;
                document.getElementById('answerBtnD').disabled = true;

                // 일정 시간 기다림
                await delay(750);

                document.getElementById('answerBtnA').disabled = false;
                document.getElementById('answerBtnB').disabled = false;
                document.getElementById('answerBtnC').disabled = false;
                document.getElementById('answerBtnD').disabled = false;

                // 원래 색으로 돌아오기
                button.style.backgroundColor = originalColor;
            }
            function delay(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
        </script>
    {% else %}
        <h1>저장된 단어가 없습니다.</h1>
    {% endif %}
</body>
{% endblock %}