{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">단어 등록 목록</h5>
    <table class="table table-striped">
        <thead>
        <tr class="text-center table-primary">
            <th style="width:11%">번호</th>
            <th class="col-4">제목</th>
            <th class="col-2">글쓴이</th>
            <th class="col-2">작성일</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% if voca_list %}
        {% for voca in voca_list %}
        <tr class="text-center">
            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - dd현재인덱스 + 1 -->
                {{ forloop.counter }}
            </td>

            <td class="text-left">
                <a href="{% url 'pybo:voca_detail' voca.id %}">{{ voca.subject }}</a>
            </td>
            <td>{{ voca.author.username }}</td>  <!-- 글쓴이 추가 -->
            <td>{{ voca.create_date|date:"m / d"}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

</div>
{% endblock %}