{% extends 'base.html' %}
{% block content %}
<head>
    <div class="font">
        <a onclick="history.back()" class="btn text-primary font" style="position: fixed; top: 61px; left: 12px; text-style: bold; width: 40px; height: 40px; line-height: 40px;">
                <h2><</h2>
        </a>
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>단어 시험</title>
    <style>
        body {
            font-family: 'Gowun Dodum', sans-serif;
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #333;
        }

        #question {
            font-size: 20px;
            margin-bottom: 20px;
        }

        #correct {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .option {
            display: inline-block;
            padding: 10px;
            margin: 10px;
            color: #fff;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            width: 105px;
            height: 105px;
        }
    </style>
</head>
<body>
    {% if vocaList %}
        <h1>단어 시험</h1>

        <div id="question">
            <p>다음 중 단어의 뜻으로 올바른 것은?</p>
            <strong>Word:</strong> <span id="word">Example</span>
        </div>

        <div class="container text-center" style="width: 100%;">
            <div class="row">
                <div class="col" style="width: 50%">
                    <button id="answerBtnA" class="option btn-primary" onclick="checkAnswer('answerBtnA')">옵션 A</button>
                </div>
                <div class="col" style="width: 50%">
                    <button id="answerBtnB" class="option btn-primary" onclick="checkAnswer('answerBtnB')">옵션 B</button>
                </div>
            </div>
            <div class="row"> <!--dfa0-->
                <div class="col" style="width: 50%">
                    <button id="answerBtnC" class="option btn-primary" onclick="checkAnswer('answerBtnC')">옵션 C</button>
                </div>
                <div class="col" style="width: 50%">
                    <button id="answerBtnD" class="option btn-primary" onclick="checkAnswer('answerBtnD')">옵션 D</button>
                </div>
            </div>
        </div>

        <div>
            <strong id="correct"></strong>
        </div>

<!--        <a class="option" href="{% url 'pybo:index' %}">Home.</a>-->

        <script>
            var vocaList = [];
            var randomPosition = [];
            var randAnswer = [];
            var questionCount = 0;
            var correctCount = 0;


            {% for item in vocaList %}
                vocaList.push({'{{ item.1 }}' : '{{ item.2 }}'});
            {% endfor %}

            {% for i in randomPosition %}
                var temp = [];
                {% for j in i %}
                    console.log("j: ",{{ j }})
                    temp.push({{ i }});
                {% endfor %}
                randomPosition.push(temp);
            {% endfor %}

            {% for i in randAnswer %}
                var temp = [];
                {% for j in i %}
                    temp.push('{{ i }}');
                {% endfor %}
                randAnswer.push(temp);
            {% endfor %}

            console.log(vocaList);
            console.log(randomPosition);
            console.log(randAnswer);
            document.getElementById('word').innerHTML = Object.keys(vocaList[1]);
            document.getElementById('answerBtnA').innerHTML = randAnswer[questionCount][randomPosition[questionCount][0]];
            document.getElementById('answerBtnB').innerHTML = randAnswer[questionCount][randomPosition[questionCount][1]];
            document.getElementById('answerBtnC').innerHTML = randAnswer[questionCount][randomPosition[questionCount][2]];
            document.getElementById('answerBtnD').innerHTML = randAnswer[questionCount][randomPosition[questionCount][3]];
            function checkAnswer(selectedOption) {
                if(vocaList[questionCount][document.getElementById('word').innerHTML] == document.getElementById(selectedOption).innerHTML){
                    if(questionCount != vocaList.length-1){
                        correctCount++;
                        questionCount++;
                        document.getElementById('word').innerHTML = Object.keys(vocaList[questionCount]);
                        document.getElementById('answerBtnA').innerHTML = randAnswer[questionCount][randomPosition[questionCount][0]];
                        document.getElementById('answerBtnB').innerHTML = randAnswer[questionCount][randomPosition[questionCount][1]];
                        document.getElementById('answerBtnC').innerHTML = randAnswer[questionCount][randomPosition[questionCount][2]];
                        document.getElementById('answerBtnD').innerHTML = randAnswer[questionCount][randomPosition[questionCount][3]];
                    }else{
                        document.getElementById('correct').innerHTML = '점수' + (correctCount+1) + '/' + (questionCount+1);
                    }
                }else{
                    if(questionCount != vocaList.length-1){
                        questionCount++;
                        document.getElementById('word').innerHTML = Object.keys(vocaList[questionCount]);
                        document.getElementById('answerBtnA').innerHTML = randAnswer[questionCount][randomPosition[questionCount][0]];
                        document.getElementById('answerBtnB').innerHTML = randAnswer[questionCount][randomPosition[questionCount][1]];
                        document.getElementById('answerBtnC').innerHTML = randAnswer[questionCount][randomPosition[questionCount][2]];
                        document.getElementById('answerBtnD').innerHTML = randAnswer[questionCount][randomPosition[questionCount][3]];
                    }else{
                        document.getElementById('correct').innerHTML = '점수' + (correctCount+1) + '/' + (questionCount+1);
                    }
                }
            }
        </script>
    {% else %}
        <h1>저장된 단어가 없습니다.</h1>
    {% endif %}
</body>
{% endblock %}