{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <div class="font">
        <a onclick="history.back()" class="btn text-primary font" style="position: fixed; top: 61px; left: 12px; text-style: bold; width: 40px; height: 40px; line-height: 40px;">
                <h2><</h2>
        </a>
    </div>
    <meta charset="UTF-8">
    <title>Title</title>
     <style>
 table{ border-collapse : collapse; max-width: 600px; }  /*이중선 제거*/
 th,td{
      width: 100px;

      height: 50px;
      text-align: center;
      border: 1px solid #000;

      vertical-align: top;	/* 위 */
      vertical-align: bottom;   /* 아래 */
      vertical-align: middle;   /* 가운데 */
    }
  </style>
</head>
<body>
<div class="mb-3 font" style="margin-top:9%; padding: 3%; width: 100%">
            <form action="{% url 'pybo:vocaRead' %}" method="post" style="margin-bottom:5%">
                {% csrf_token %}
                <select class="form-control so text-center" id="voca_class" name="voca_class" style="background-color: #78C4ff; color: white;">
                    {% for voca in vocalist_class %}
                        <option value="{{ voca }}" {% if forloop.first %}selected{% endif %}>{{ voca }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="submit" class="btn btn-outline-primary" style="width: 100%; margin-right: 17%;">

            </form>

        <table>
            <thead>
                <tr>
                    <th style="col-1">번호</th>
                    <th style="width: 45%">일본어</th>
                    <th style="width: 45%">한국어</th>
                </tr>
            </thead>
            <tbody>
            {% if selected_voca_list %}
            <div style="margin-bottom:15%;">
                {% if vocalist_class %}
                {% with voca="vv" %}
                <a class="btn btn-primary float-right mb-2" href="{% url 'pybo:vocaTest' voca_class=voca %}" style="color: white;">단어 테스트하기</a>
                {% endwith %}
                {% endif %}
                <a href="{% url 'pybo:shuffle' %}" style="width: 100%;" class="btn btn-primary float-right mb-2">단어섞기</a>
            </div>
                {% for voca in selected_voca_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ voca.1 }}</td>
                        <td>{{ voca.2 }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <h1>드롭박스에서 선택해주세요 </h1>
            {% endif %}

            </tbody>
        </table>

</div>
</body>
</html>

{% endblock %}